<% if @page %>
<h1> <%= @page.title  %> </h1>


<%= raw @page.body  %>


<% if @page.id == 15 %><%#  как проехать от Москвы  %>
  <style type="text/css">
	.karta>ymaps{	width:100%!important;	}
	.karta {margin: 20px 0px 20px 0px; }
  </style>
  <div class="container karta">
   <script type="text/javascript" charset="utf-8" src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=hsZABmQ432OPsrRz7I1KO0EL7aqtEhAj&width=1070&height=550"></script>
  </div>
<% end %>

<% if @page.id == 16 %><%#  как проехать от Тулы  %>
  <style type="text/css">
	.karta>ymaps{	width:100%!important;	}
	.karta {margin: 20px 0px 20px 0px; }
  </style>
  <div class="container karta">
	<script type="text/javascript" charset="utf-8" src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=qZBhuveTWGz24hail9JddsVwcrLcmo0O&width=1070&height=550"></script>
  </div>
<% end %>

<% if @page.has_script_after =~ /\Amap-/  %>
  <%= render "shared/map_apeas_schema", :page => @page %>
<% elsif ! @page.has_script_after.empty?  %>
  <%= render "shared/#{@page.has_script_after}", :page => @page %>
<% end %>



<% end %> <%# / if @page  %>
